<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Tech-Event: Around The Globe</title>

     <meta charset="UTF-8">
     <meta name="keywords" content="Tech events Communitie, TEN, Tech information, Around the world">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="author" content="Tech Event And News">



      <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
         <link rel="stylesheet" href="css/style.css">


  </head>
    <body>

    <form action="event" method="post">


       <!-- This navbar houses everything at the top - the links, logo and the button and also the sm screen nav button -->
<nav class="navbar navbar-expand-lg px-5 sticky-top  topnav">
<a class="navbar-brand" href="#event">
<img class="rounded-circle" src="images/eventlogo.png" alt="logo" width="100" height="60"> <span class="text-primary">Tech Event & News</span>
</a>
<!-- Toggler/collapsibe Button -->
<button class="navbar-toggler sm-menu py-2" type="button"  data-toggle="collapse" data-target="#collapsibleNavbar">Menu</button>


<!-- Links -->
<div class="collapse navbar-collapse" id="collapsibleNavbar">
<ul class="navbar-nav topnav-links ml-auto">
  <li class="nav-item py-2">
    <a class="nav-link " href="#event"> EVENTS </a>
  </li>
  <li class="nav-item py-2 ml-2">
    <a class="nav-link " href="#about"> ABOUT </a>
  </li>
  <li class="nav-item py-2 ml-2">
    <a class="nav-link " href="#contact"> CONTACT US</a>
  </li>

</ul>
</div>
</nav>
<!-- .................... The navbar stops here -->

<!-- event landing page -->
    <section id="event">

      <section class="tenimage d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="d-flex justify-content-center">
          <img class="rounded-circle" src="images/eventlogo.png" alt="logo" width="100" height="60">
        <h3 class="color mt-3">Tech Event & News</h3>
        </div>
        </div>
      </section>
<!-- event landing page stop here -->

<!-- new-news start here -->
<%- include("newnews.ejs") %>
<!-- new-news end here -->

<!-- old-news start here -->
<section class="mt-5">
  <div class="oldnews ">
    <p class="text-center ">
      <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Click For  Old News
      </button>
    </p>
  </div>
  <div class="collapse" id="collapseExample">
    <%- include("oldnews.ejs") %>
  </div>
</section>
<!-- old-news end here -->



<!-- About-Page -->

<section  class="about mt-5"  id="about">
  <div class="about-image">
    </div>
  </section>

  <section class="container-fluid ">
<div class="row  justify-content-center ">
<div class="col-sm-4 col-lg-4">
<div class="">
  <h1 class="font-italic ml-5 "><b>Our Story</b></h1>
    <div class="mt">
      <div class="mt-3 text-justify ">Founded over 1 year ago, we' ve grown a small team in Nigeria promoting young,technologists and helping them through our platform in technology and events.
      </div>
        </div>
  </div>
</div>

<div class="col-sm-4 col-lg-4 ">
<div class=" ml-3  ">
    <div class="mt-5">
      <div class="">
        <p class="text-justify "> With our root custom system and experince we promote technology in a high level by posting tech event, tech meet-up, tech breaking-news and other related tech activities etc we also support if we are been needed in any of the tech related and non-related event or meet-up we invest our time in technology cause that is the key to the universe. </p>
      </div>
      </div>
  </div>

</div>
</div>
</section>

<section class="mt-5">
<div class="text-center">
<h3 class="font-italic  "><b>Our Vision</b></h3>
</div>
<!-- partner start  here -->
     <section class="container">
       <div class="row justify-content-between mt-5">
         <div class="card smallscreen cardmargin  margintop" style="width: 20rem;">
           <img class="card-img-top" src="/images/partner.jpeg" height="220px">
           <div class="card-body">
             <h4 class="card-title text-secondary text-center">Partner</h4>

             <div class="text-center">
     <p>for disruptive tech business <br> where technology is the key<br> differentiator<p>
     </div>

           </div>
       </div>
       <!-- partner end  here -->






         <!-- champion start  here -->

       <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
           <img class="card-img-top" src="/images/champion.jpeg" height="220px">
           <div class="card-body  ">
             <h4 class="card-title text-secondary text-center">Champion</h4>
             <div class="text-center">
      <p>For promoting young tech entrepreneur idea and<br> event<p>
      </div>
           </div>
       </div>



         <!-- champion end here -->

       <!-- home start here -->

       <div class="card smallscreen  cardmargin margintop" style="width: 20rem;">
           <img class="card-img-top" src="/images/home.jpeg" height="220px">
           <div class="card-body  ">
             <h4 class="card-title text-secondary text-center">Home</h4>
             <div class="text-center">
     <p> passionate technologists<br>  to continually improve<br> from different people<p>
     </div>
             </div>
       </div>

</section>

<!-- home end here -->
</section>




<!-- About-Page end-->



<section id="contact" class="contact mt-5">
  <section class="container-fluid ">
  <div class="row justify-content-center ">
    <div class="col-sm-3 col-lg-3  ">
      <div class="">
        <h3>Get in touch with us</h3>
        <form action="/event" method="post">
  <div class="form-group">
    <label class="ml-3 mt-3" for="exampleInputEmail1">Email address</label><br>
    <input type="email" name="email"id="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class=" form-group">
    <label class="mt-3 ml-3" >Name</label><br>
    <input type="name" name="fname" id="fname" placeholder="Enter name">
  </div>
  <div class="form-group">
   <label class="mt-3 ml-3">Message</label>
   <textarea class="form-control pb-0" name="message" id="message" placeholder="Enter message"></textarea>
 </div>
  <button type="submit" class="btn btn-light submit"  data-toggle="modal" onclick="valad ()"  data-target="">Submit</button>

</form>





<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="messag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Thanks For Contacting Us
      </div>
      <div class="modal-footer">
      <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close" onClick="window.location.reload()">

      </div>
    </div>
  </div>
</div>

      </div>
    </div>

<div class="col-sm-3 col-lg-3 ml-5 information">
  <div class="information mt-4">
    <h5>Contact Information</h5>
  </div>
  <div class="">
    <span class="fa fa-facebook"><span class="ml-4">https://facebook.com/Techeventnews/.com</span></span>
  </div>
  <div class="">
    <span class="fa fa-envelope"><span class="ml-3">Miraclechamberlain12@gmail.com</span></span>
  </div>
  <div class="">
    <span class="fa fa-phone phone"><span class="ml-3">+2349092273965</span></span>
  </div>

</div>
</div>
</section>
</section>







<footer class="">
<div class="container">
<div class="row">
  <div class="col-md-3">
    <img class="rounded-circle" src="/images/eventlogo.png" alt="logo" width="100" height="60"><b style="font-family: 'Open Sans', sans-serif;">Tech Event & News</b>
  </div>
  <div class="col-md-4 d-flex align-items-center mt-2">
        <h4 class="mr-4">STAY IN TOUCH:</h4>
        <a href="https://www.facebook.com/Techeventnews/.com"><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
 </div>

  <div class="col-md-2"></div>
</div><hr class="pb-4">

<div class="row mt-4 ml-5">
  <div class="col-md-3 d-flex flex-column">
      <h4>USEFUL LINKS</h4>
      <a href="#about" class="mt-3 text-primary">About Tech Event & News</a>
      <a href="https://www.facebook.com/Techeventnews/.com" class="mt-3 text-primary">Facebook-Page</a>
      <a href="contact.html" class="mt-3 text-primary">Contact Us</a>
      <a href="" class="mt-3 text-primary">Featured Events</a>
  </div>
  <div class="col-md-3 d-flex flex-column">
          <h4 class="resources">RESOURCES</h4>
          <a href="https://developer.android.com/courses/" class="mt-3 text-primary">Learn Android Development</a>
          <a href="https://www.w3schools.com/html/default.asp" class="mt-3 text-primary">Learn Web Development</a>
          <a href="https://www.polymer-project.org/" class="mt-3 text-primary">Learn Google Polymer</a>
          <a href="https://angularjs.org/" class="mt-3 text-primary">Learn Angular Js</a>
          <a href="https://material.io/collections/getting-started/" class="mt-3 text-primary">Learn Material Design</a>
          <a href="https://firebase.google.com/docs?authuser=0" class="mt-3 text-primary">Learn Firebase</a>
  </div>

  <div class="col-md-3">
    <h4>FOLLOW US :</h4>
    <a href="https://www.facebook.com/Techeventnews/.com"><i class="fa fa-facebook"></i></a>
    <a href=""><i class="fa fa-twitter"></i></a>

  </div>
</div>
</div>
</footer>
<div class="text-center text-dark py-2" style="background-color: #dbdbdb;">
<p class="m-0">&copy; 2020 Copyright. Tech Events News.</p>
</div>




<script src="event.js" charset="utf-8"></script>
<script src="myScript.js" charset="utf-8"></script>
<script src="jquery.js" charset="utf-8"></script>
<script src="popper.min.js" charset="utf-8"></script>
<script src="bootstrap.min.js" charset="utf-8"></script>

</form>
  </body>
</html>
