<!-- event section one start  here -->
      <section class="container">
        <div class="row justify-content-between mt-5">
          <div class="card smallscreen cardmargin"  style="width: 20rem;">
            <a href=""data-toggle="modal" data-target="#event10">
            <img class="card-img-top" src="/images/pix10.jpg" height="250px">
            <div class="card-body">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>

              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Thursday, 9 July 2020</span>
                </div>

                <div class="text-justify mode mt-3">
                  <h5><b>How to Get Someone Off Your Best Friends List on Snapchat.</b></h5>
                </div>
              <p class="card-text space mode text-justify mt-3 mb-0">
              Snapchat is the go-to social media platform for many people between the ages of 13 and 25. Although Snapchat has stolen some of its glory in recent years.</p>
            </div>
        </div>

        <section>
        <div class="modal fade  bd-example-modal-lg bd-example-modal-sm mimi_model hight-model" id="event10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog modal-sm hight-model" role="document">
        <div class="modal-content ">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="pb-1">
            <img src="/images/pix10.jpg" width="100%" height="400" class="">
          </div>
          <div>
            <h4 class="">News Details</h4>
          </div>
            <div>
              <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
              <span class="ml-2">Thursday, 9 July 2020</span>
            </div>
            <div class="text-justify mt-5">
              <h5><b>How to Get Someone Off Your Best Friends List on Snapchat.</b></h5>
            </div>
            <div class="mt-3 space mode text-justify">
              <p>Snapchat is the go-to social media platform for many people between the ages of 13 and 25. Although Snapchat has stolen some of its glory in recent years.</p>
              <p><b>How Does Snapchat’s “Best Friends” Work?</b></p>
              <p>Your Best Friends list on Snapchat keeps track of the people you chat with most often. It appears at the top of your main friends list, making those users more accessible when you’re sending a new snap.</p>
              <p>But how does Snapchat calculate who your Best Friends are? It’s pretty simple.</p>
              <p>You may have noticed that every user has a Snap Score—a measure of the total number of Snaps sent and received since joining. A similar score is assigned to individual conversations between you and your friends. The more you chat with a particular person, the higher your friendship score becomes.</p>
              <p>To determine your Best Friends list, Snapchat analyzes these scores and lists the friends you chat with the most, in order of your friendship score.</p>
              <p><b>What Do Snapchat’s “Friend Emojis” Mean?</b></p>
              <p>How can you tell who your Snapchat Best Friends are? Most importantly, they’ll appear at the top of your Send To screen. You can also click on your profile (the circle to the top-left of your interface), then My Friends, and your Best Friends are listed at the top.</p>
              <p>When you swipe to your Chat screen, you’ll see your contacts listed alongside emojis. These show your Best Friends too.</p>
              <p>Here’s what some of them mean:</p>
              <p>i. Baby: You’re new friends.</p>
              <p>ii. Double pink heart: This is your #1 Best Friend; you’ve also been their #1 Best Friend for at least two months.</p>
              <p>iii. Red heart: You’ve been each other’s #1 Best Friend for two weeks.</p>
              <p>iv. Gold heart: You’re each other’s #1 Best Friend, albeit for fewer than two weeks.</p>
                <p>v. Smile: Your Best Friends, though not your #1 Best Friend.</p>
                <p>vi. Fire: This appears when you’re on a “Snapstreak,” along with the number of consecutive days you’ve snapped each other. Learn about Snapstreaks and how to get a lost one back.</p>
                <p>Emojis are also used by contacts in Snaps and Chats. If you use the service, you need to understand the meanings of Snapchat emojis.</p>
                <p><b>Can Other Users See Your Best Friends List on Snapchat?</b></p>
                <p>You might be concerned about privacy and want to know how to hide Best Friends on Snapchat. But don’t worry: no one else can see who you’re friends with on the app.</p>
                <p>Others used to be able to see Best Friends lists. For instance, a smirking emoji showed when you’re someone’s Best Friend, but they’re not one of yours</p>
                <p>Fortunately, Snapchat saw the light and deleted this feature. Beware: the “Oops” and “Smiling-Face-With-Sunglasses” smileys still indicate shared Best Friends.</p>
                <p><b>How Many Best Friends Can You Have on Snapchat?</b></p>
                <p>You can have up to eight Best Friends.</p>
                <p>Some only have one or two. Others converse with so many people, the Best Friends emojis shift between contacts daily.</p>
                <p><b>How Can You Make Someone Your Best Friend on Snapchat?</b></p>
                <p>You can’t specifically “set” someone as your Best Friend. Snapchat’s algorithm works by analyzing who you converse with most.</p>
                <p>If you want someone to be your Best Friend on Snapchat, send them lots of Snaps and Chats! Of course, you should make sure the feeling’s mutual—there’s little point in bombarding someone with Snaps if it’s just going to annoy them.</p>
                <p>And while one user might be your Best Friend, that doesn’t mean you’re necessarily theirs.</p>
                <p><b>How To Remove Snapchat Best Friends</b></p>
                <p>Remember, only you can see who your Best Friends are anyway. Nonetheless, you might still want to remove Best Friends from your Snapchat. It can be easy, but it depends on how frequently you Snap or Chat to them. You used to be able to block someone and then add them again, but this method no longer works.</p>
                <p>You have three options.</p>
                <p><b>How to Delete Friends on Snapchat</b></p>
                <p>The first is to remove that friend entirely. This might be because of a break-up, and you don’t want to be reminded of them every time you open the platform.</p>
                <p>Open the Chat function, to the left of your camera interface. Then click on the vertical ellipsis at the top-right of your screen, and tap either Remove Friend or Block.</p>
                <p>Remove Friend is a temporary option: it’s easy to undo and they can still message you. Block is more permanent—this option will remove them from your Best Friends list, and indeed the app overall.</p>
                <p>That user will no longer be able to see your Snap Score, so may presume they’ve been removed or blocked. And here’s how to tell if someone blocked you on Snapchat.</p>
                <p><b>How to Get Rid of Your Best Friends on Snapchat</b></p>
                <p>This isn’t ideal, but since Snapchat removed the loophole that let you block then add users again, it’s the only way. You’ve got to use the algorithm to your own advantage.</p>
                <p>How? You need to send fewer Snaps and Chats to the person you don’t want listed as a Best Friend any more. Prioritize someone else.</p>
                <p>So how long do the Best Friend emojis last on Snapchat? This depends largely on how many contacts you have and how many you talk to frequently.</p>
                <p>If you know very few people on Snapchat, sending one Snap might mean they instantly become your Best Friend. If you know lots of people and have numerous Snapstreaks going, you’ll probably have many Best Friends.</p>
                <p><b>How to Hide Best Friends on Snapchat</b></p>
                <p>The third option disguises who your Best Friends are. Let’s posit that someone you know often checks your smartphone and wants to know who you’re regularly in contact with. You should really implement better security, but perhaps you don’t want to lock someone out of your phone completely.</p>
                <p>There’s nothing you can do to hide Best Friends on the Send To screen, but you can mask it on the Chat screen (which someone else is most likely to check).</p>
                <p>You can hide who your Best Friends are by changing the related emoji.</p>
                <p>Open your profile then click the cog icon in the top-right. iOS users should go to Manage > Friend Emojis then click on whichever field you want to toggle. These include Super BFF, BFF, Besties, and BFs. You can change the emoji to whatever you want, as long as two fields don’t share the same one.</p>
                <p>Android users can do this by clicking on Customize Emojis, also found after clicking on the cog icon.</p>
                <p><b>Don’t Worry About Being Best Friends on Snapchat</b></p>
                <p>Knowing you’re not someone’s Best Friend on Snapchat shouldn’t concern you. Maybe you just don’t talk enough on the app, but that doesn’t mean you’re not good friends in real life. After all, Snapchat’s Best Friends feature doesn’t account for SMS, messaging platforms, or face-to-face conversations.</p>
                <p>Nonetheless, plenty of people take Snapchat seriously. So, if you use the service, you should at least learn some common Snapchat terms, to familiarize yourself with the lingo.</p>
                <p></p>

  </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
      </div>
        </section>

        <!-- event section one end  here -->






          <!-- event section two start  here -->

        <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
          <a href=""data-toggle="modal" data-target="#event11">
            <img class="card-img-top" src="/images/pix11.jpg" height="250px">
            <div class="card-body  ">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Thursday, 9 July 2020</span>
                </div>
                <div class="text-justify  mode mt-2">
                  <h5><b> How to Find Your Router’s IP Address?</b></h5>
                </div>

              <p class="card-text space  mode text-justify mt-3 mb-0">
                While your router’s IP address isn’t need-to-know information on most days, there will be times you need to have it on hand.</p>
            </div>
        </div>


        <section>
        <div class="modal fade bd-example-modal-lg" id="event11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="pb-1">
            <img src="/images/pix11.jpg" width="100%" height="400" class="">
          </div>
          <div>
            <h4 class="">News Details</h4>
          </div>
            <div>
              <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
              <span class="ml-2">Thursday, 9 July 2020</span>
            </div>
            <div class="text-justify  mode mt-2">
              <h5><b> How to Find Your Router’s IP Address?</b></h5>
            </div>
            <div class="mt-3 space  mode text-justify">
              <p>While your router’s IP address isn’t need-to-know information on most days, there will be times you need to have it on hand.</p>
              <p>For example, you may need it for changing settings on the device via its web-based control panel. And while it’s simple enough to get this information, many people aren’t sure exactly where to start—especially when it comes to different operating systems.</p>
              <p>Whether you’re on your PC or a mobile device, here’s how to find your router IP address on different platforms…</p>
              <p><b>What Is My Router IP Address For?</b></p>
              <p>While some routers use text-based URLs, many use an IP address that you can use in your browser to access the device’s admin panel. In this panel, you can change settings, install firmware updates, troubleshoot issues, and configure your preferences.</p>
              <p>Many routers in a private network use the default IP address 168.192.168.0.1 or 192.168.1.1. If your router doesn’t use these specific default addresses, it will still most likely use one starting with 192.168.x.x.</p>
              <p>However, the only way to know your router’s IP address for sure is to directly check it through a connected device like your computer. Otherwise, you’ll be stuck typing in all the variations of common router IP addresses until you get it right.</p>
              <p>That might take a while.</p>
              <p>Finding out what your router’s IP address is is pretty simple, but steps differ depending on the OS of your PC or mobile device. See our short tutorials below on how to find this IP address on various platforms…</p>
              <p><b>How To Find Your Router IP Address on Windows</b></p>
              <p>There are two main ways to find your router IP address on Windows—using Windows PowerShell or by visiting the Network and Sharing Center in your Control Panel.</p>
              <p><b>Windows PowerShell</b></p>
              <p>The simplest way to find your router IP address on Windows is by using Windows PowerShell.</p>
              <p>Right click Start to find Windows PowerShell and type in ipconfig. Press Enter and various IP addresses will appear.</p>
              <p>You will find your router’s IP address next to Default Gateway.</p>
              <p>Control Panel</p>
              <p>Another way to find your router’s IP address on Windows is to use the Control Panel.</p>
              <p>Open your Control Panel and go to Network and Internet > View network status and devices.</p>
              <p>This takes you to the Network and Sharing Center, which shows you the network you are connected to.</p>
              <p>Next to Connections, you will see blue text that describes your network connection type—such as Wi-Fi or Ethernet. Click on this text.</p>
              <p>This opens a small status window with information about your connection. Next, select the Details button.</p>
              <p>An additional popup will appear with more details about your connection. Next to IPv4 Default Gateway, you will see your router’s IP address.</p>
              <p><b>How to Find Your Router IP Address on macOS</b></p>
              <p>To find your router IP address on macOS, head to your System Preferences and select Network.</p>
              <p>This opens a window with your available network connections. Select your internet connection and then the Advanced button near the bottom right corner of the window.</p>
              <p>In this window, select the TCP/IP tab. Here you will find your router’s IP address next to Router, under Subnet Mask.</p>
              <p><b>How to Find Your Router IP Address on Android</b></p>
              <p>While there are Android apps that can identify your router’s IP address, it’s easier and safer to just check it yourself in your network settings.</p>
              <p>The exact wording of menu options may differ depending on your brand of Android smartphone, but the basic process is the same.</p>
              <p>To find your router IP address on Android, go to Settings and select the wireless/connections/network menu.</p>
              <p>Then, select the network you are currently connected to and access additional or advanced settings. You can do this by holding down on the network name (Huawei P40 Lite) or selecting the cog icon (Samsung Galaxy S20 Ultra).</p>
              <p>In these advanced settings, switch the IP settings from DHCP or dynamic to Static. Your router IP address will then show up under Gateway.</p>
              <p>You don’t have to save this new setting since you now have the information you need. Switch back to a dynamic IP address or exit without saving to avoid the disadvantages of static IP addresses.</p>
              <p><b>Find Your Router IP Address on iOS</b></p>
              <p>Finding your router’s IP address on iOS couldn’t be simpler. Go to Settings > Wi-Fi and select your current network.</p>
              <p>This shows you more details and settings about your Wi-Fi connection. Check the section detailing your IPv4 address and you’ll find your router’s IP address next to Router.</p>
              <p><b>How to Find Your Router IP Address on Linux</b></p>
              <p>The user interfaces of different flavors of Linux can vary, but it’s relatively easy to check your router’s IP address on the OS.</p>
              <p>Just click on your network icon and select Connection Information or Network Settings in the dropdown menu. This will open up a window with details about your current network. In some desktop environments, you can simply hover the mouse over the network icon.</p>
              <p>There are ways to find your router IP address in Linux with terminal commands, but the exact commands differ depending on your chosen distro.</p>

          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
        </section>
          <!-- event section two end here -->

        <!-- event section three start here -->

        <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
          <a href=""data-toggle="modal" data-target="#event12">
            <img class="card-img-top" src="/images/pix12.jpg" height="250px">
            <div class="card-body  ">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Thursday, 9 July 2020</span>
                </div>
                <div class="text-justify  mode mt-2">
                   <h5><b>The 10 Best Free Udemy Courses</b></h5>
                </div>

              <p class="card-text space  mode text-justify mt-3 mb-0">
              How do you pick the best free courses on Udemy when there are more than 80,000 online courses to choose from? Well, here are a few steps if you are only interested in the free Udemy courses and nothing else.</p>
            </div>
        </div>




<section>
<div class="modal fade bd-example-modal-lg" id="event12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg " role="document">
<div class="modal-content ">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle"></h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="pb-1">
    <img src="/images/pix12.jpg" width="100%" height="400" class="">
  </div>
  <div>
    <h4 class="">News Details</h4>
  </div>
    <div>
      <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
      <span class="ml-2">Thursday, 9 July 2020</span>
    </div>
    <div class="text-justify  mode mt-2">
      <h5><b>The 10 Best Free Udemy Courses</b></h5>
    </div>
    <div class="mt-3 space  mode text-justify">
      <p>How do you pick the best free courses on Udemy when there are more than 80,000 online courses to choose from? Well, here are a few steps if you are only interested in the free Udemy courses and nothing else:</p>
      <p>i. Decide on your topic.</p>
      <p>ii. Use the Udemy menu to drill down to the Categories.</p>
      <p>iii. Search for course with the right keyword in the Search Bar.</p>
      <p>iv. Click the All Filters button on the search result page.</p>
      <p>v. Apply the Free filter.</p>
      <p>Then it’s just a few minutes of diligent sifting to find the course with the best ratings and a good number of enrollments. Use the video preview to check if the instructor’s rhythm agrees with you. The comments can also be a good pointer to the quality of any course.</p>
      <p>I put these steps to the test in order to find the top free Udemy courses. Many of these are around technology topics. And as you know, we really like to talk about tech. So here we are…</p>
      <p><b>1. Before You Code: Programming 101</b></p>
      <p>I am assuming you are a beginner. You have decided to test the logical side of your brain. So let’s start with the basic tools of the trade. This course does not teach you any programming languages but instead offers a gentle introduction to the journey ahead.</p>
      <p>Like everything else, a coder sticks to some basic principles which you should always remember</p>
      <p>Also: Try the paid Pre-Programming: Everything you need to know before you code course if you manage to snag a discount coupon.</p>
      <p><b>2. Learn Python Coding: Introduction to Python Programming</b></p>
      <p>Machine learning is hot. But you can’t use machine learning unless you know how to program. Help yourself to the basics with this free guide. Python is among the world’s most popular programming languages, ranked at the top by IEEE Spectrum in 2017.</p>
      <p>It is also flexible, as you can use Python for building desktop and web apps if you don’t want to go into machine learning. The Introduction to Python Programming covers the basics and does not ask for any prior programming experience.</p>
      <p><b>3. Learn AI: Welcome to Artificial Intelligence (Introductory Course)</b></p>
      <p>As mentioned, A.I and machine learning are already shaping our lives. So grab the basics with this introductory course which is a gentler introduction and is aimed for people who don’t have any technical skills behind them.</p>
      <p>You can also learn the fundamentals from YouTube videos, but this course gives you structure and future learning paths to follow. Finish it in under an hour and then you can pick up one of the excellent machine learning courses on Udemy.</p>
      <p><b>4. Learn Data Science: Introduction to Data Science Using Python</b></p>
      <p>Data science uses statistical tools to extract patterns in big sets of data. It overlaps with artificial intelligence and machine learning, as intelligent algorithms are designed to learn more about the world around us.</p>
      <p>If you want to become a data scientist, your skillsets will include Python, R, Hadoop, and SQL. Start with this primer course (the first of a series) that will stoke your interest.</p>
      <p>Also, look into these paid data science courses on Udemy too when you decide to go deeper into the field.</p>
      <p><b>5. Get Introduced to Cloud Computing: AWS Concepts</b></p>
      <p>If cloud services are the present and the future, then Amazon Web Services is at the vanguard. Amazon offers a training and certification path for learning practical skills to help manage the cloud for large enterprises.</p>
      <p>There are several in-demand niche areas like cloud architecture, container and docker technology, and even cloud backup and disaster recovery.</p>
      <p>But this free Udemy course from Linux Academy can be the first step to gather the basic concepts. To make it easier, there are no technical explanations or definitions to memorize. It is visual and conceptual.</p>
      <p><b>6. Simply SQL: Introduction to Databases and SQL Querying</b></p>
      <p>I read somewhere that a data analyst who doesn’t know SQL won’t get far. But you don’t need to look that far; just see how databases are at the core of any business today.</p>
      <p>The Structured Query Language (SQL) is how you speak to databases. With SQL you can track your own data and make your own reports instead of relying on the tech department. You can even use SQL with Microsoft Excel.</p>
      <p>This is an introductory course on Databases and SQL Querying. It is a simple walkthrough of SQL queries and how you can extract data from a database. It is just the right introduction for someone who does not have any knowledge of SQL.</p>
      <p><b>7. Learn Your First Language: Javascript Essentials</b></p>
      <p>Want to be comfortable in a foreign land? Learn the native language. Want to be a good developer on the web? Learn JavaScript. It is like a “default” language (along with Java and C++) if you want to go anywhere.</p>
      <p>Take this basic course that will not only show you how JavaScript works but also give you a mini-project to do. If you want to try another free JavaScript course then look at Learn JavaScript for Web Development too.</p>
      <p><b>8. Make Video Games: Introduction to Unity for Absolute Beginners</b></p>
      <p>Unity is a complete software application for game development. An integrated development environment (IDE) like Unity is the less difficult way to design your own game.</p>
      <p>The harder way is to learn the black arts of programming languages like C++ and Java from scratch. Unity gives you many of the assets for game development along with a code editor. So the workflow is much easier.</p>
      <p>This free Udemy course will show you that workflow, from the installation to the process of controlling game objects with code. Some experience with coding will help, but it is not essential. This course was updated in 2019 with a bonus section at the end.</p>
      <p><b>9. Think Outside the Box: The World of Design Thinking</b></p>
      <p>Take any industry, and you can improve your results with design thinking. The methodologies to get the right results are not only for designers. The 17 modules will take you through the steps of Need-finding, Synthesis, Ideation, Prototyping, and Testing.</p>
      <p>More than 100,000 students are enrolled in this course. You may not have the responsibility to manage big projects yet, but you can use still design thinking to prototype the little projects in your personal life for meaningful solutions</p>
      <p><b>10. Train Your Mind: Hyperthinking: Improve Your Day to Day Learning & Creativity</b></p>
      <p>Hard skills are the bricks. But soft skills are the mortar. You can flounder in your career if you do not develop soft skills like critical thinking and problem-solving. Today, a technology career also needs creativity and design thinking. Maybe some of these soft skills will help us save our jobs from the robots.</p>
      <p>As the world changes every day, this course gives you a few hyperthinking tools that can help you frame a situation and think about it in a new way. With these critical thinking tools, you can take on challenges with more confidence.</p>
      <p><b>Select a Free Udemy Course to Begin With</b></p>
      <p><b>These aren’t the only best free Udemy classes, of course. There are many more that are well-rated. The word “best” is relative and you will find your own picks once you work through the course roster. Free Udemy courses are a no-risk introduction to the subjects you are interested in; the only investment is time.</b></p>

</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</section>
</div>
</section>

<!-- event section three end here -->



<!-- event section one start  here -->
      <section class="container">
        <div class="row justify-content-between mt-5">
          <div class="card smallscreen cardmargin"  style="width: 20rem;">
            <a href=""data-toggle="modal" data-target="#event13">
            <img class="card-img-top" src="/images/pix13.jpg" height="250px">
            <div class="card-body">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>

              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Thursday, 9 July 2020</span>
                </div>

                <div class="text-justify mode mt-3">
                  <h5><b>What Does Facebook Know About You? Why You Should Delete Facebook.</b></h5>
                </div>
              <p class="card-text space mode text-justify mt-3 mb-0">
              Facebook has 2.6 billion active monthly users across the world and knows a surprising amount about us—information we willingly volunteer.
              </p>
            </div>
        </div>

        <section>
        <div class="modal fade  bd-example-modal-lg bd-example-modal-sm mimi_model hight-model" id="event13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog modal-sm hight-model" role="document">
        <div class="modal-content ">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="pb-1">
            <img src="/images/pix13.jpg" width="100%" height="400" class="">
          </div>
          <div>
            <h4 class="">News Details</h4>
          </div>
            <div>
              <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
              <span class="ml-2">Thursday, 9 July 2020</span>
            </div>
            <div class="text-justify mt-5">
              <h5><b>What Does Facebook Know About You? Why You Should Delete Facebook.</b></h5>
            </div>
            <div class="mt-3 space mode text-justify">
      <p>Facebook has 2.6 billion active monthly users across the world and knows a surprising amount about us—information we willingly volunteer.</p>
      <p>It’s not just basic details like name, age, and education: some are very personal and will make you want to check the Facebook privacy policy. Social networks are businesses. So what does this particular business know about you? How can you change your privacy settings on Facebook?</p>
      <p><b>Facebook Knows Basic Information About You</b></p>
      <p>The line between your personal and online lives is immediately blurred. You surrender basic facts on sign up. You submit your name, email address, gender, and birthday. Facebook also needs to know who you’re friends with—otherwise, there’s little point. Through this, you can be linked to your family members and where you studied.</p>
      <p>Facebook asks for your sexuality, current relationship status, political and religious views, location, and if you have your own website or blog. Using these, you’re slotted into a demographic.</p>
      <p>ABC1 is a key target, encompassing middle-class professionals with disposable finance. Fortunately for Facebook, nearly 75 percent of high-income earners are on the social network.</p>
      <p>Snapchat is a huge rival to Facebook, but the latter still has serious sway with the traditional target age bracket, 18-34. Over 40 percent of Generation Z say they struggle with knowing which media to consume, so social media is vital to production companies, book publishers, and podcast services.</p>
      <p>This is important because it means Facebook can command higher prices for advertising.</p>
      <p>And because you’re tagging friends’ locations in status updates and photos, your ads can be personalised further to include advertisers in your locality. These can be generalized, but can be specific too—like how shops can track visitors using Wi-Fi.</p>
      <p><b>Facebook Knows What You’re Interested In</b></p>
      <p>Your profile documents subjects you like, including music, films, and books. Your timeline shows websites and articles you’ve shared. Facebook can tailor advertisements to better suit your “likes”.</p>
      <p>In a January 2015 study, intelligent machines assessed the “likes” of over 86,000 Facebook users to predict personalities, with surprisingly accurate results. The investigation examined agreeableness, conscientiousness, extraversion, neuroticism, and openness. Cambridge University’s Dr David Stillwell told The Independent:</p>
      <p class="text-center">“The ability to judge personality is an essential component of social living, from day-to-day decisions to long-term plans such as whom to marry, trust, hire or elect as president… The results of such data analysis can be very useful in aiding people when making decisions.”</p>
      <p>Anything you post to your timeline or anyone else’s is also recorded, as are Direct Messages. This data is sold on. Raw information is compiled to find trending topics, and is passed on to third-parties.</p>
      <p>At least this data isn’t personally-identifiable. A list of popular TV shows, for instance, will be shared with stations like ABC, CNN, and Fox, but those partners can’t trace them back to individuals.</p>
      <p><b>Facebook Knows What You Look Like</b></p>
      <p>This is particularly creepy. However, what the technology enables you to do is cool.</p>
      <p>Facebook can suggest tags of you in friends’ photos and vice versa. But far from simply telling what’s a face, and what’s, say, a close-up of a boiled egg, Facebook can distinguish you so well that it can automatically suggest tagging you in other people’s albums.</p>
      <p>The facial recognition project, DeepFace, compares two different images and locates the same person in each, regardless of lighting or angle. DeepFace works in a similar way to smartphone’s Face ID, storing your visage as data. It detects distinctive patterns (cheek bones, chin, eyebrows), symmetry, and relative measurements. It then creates an abstract based on a nine-layer neural network, a series of interconnected nodes similar to the synapses of the brain). DeepFace can then recommend tags for similar patterns.</p>
      <p>Facebook knows what you look like, with the same level of accuracy as the human mind (around 97 percent).</p>
      <p>Fortunately, you can review your tags, and deselect unflattering images.</p>
      <p><b>A Summary of What Facebook Knows About You</b></p>
      <p>If you volunteer this information, i.e. either actively input data or simply share and like topics and articles, Facebook knows:</p>
      <p>Your name; email address; gender; date of birth; who you’re related to; who your friends are; which educational institutions you went to; sexual preference; relationship status; religious views; your job; where you live; if you have any political affiliations; the address of your own website or blog; your favorite music; which books you love; TV shows you enjoy; favorite films; your phone number; the contents of messages you post on your own timeline; messages other people post on your timeline; the contents of DMs; which websites you frequently visit; topics you regularly talk about; and what you look like.</p>
      <p>This is in addition to any information the company gleans from third-parties, and brands under the Facebook umbrella like Instagram and WhatsApp. We don’t know how Facebook’s acquisition of Giphy will affect users either: more information may be collected, contrary to Facebook’s statement that little will change.</p>
      <p>And it doesn’t matter if you don’t have Facebook. Information is collected about non-users and shadow profiles are created.</p>
      <p><b>How to Change Your Privacy Settings on Facebook</b></p>
      <p>It’s easy to become complacent and give away a large part of your identity. Facebook is using your data to sell things. Most companies do.</p>
      <p>So what can you do to protect your privacy on Facebook?</p>
      <p>Click on the downward arrow to the top-right of your timeline. Then click on Settings & privacy > Settings. Select Privacy on the menu to the left, and toggle individual tabs. You can switch to Your Facebook Information and Timeline and tagging too. Alternatively, go on Settings & privacy > Privacy Checkup and review data on the service.</p>
      <p>Concerns have also been expressed over Facebook listening to conversations via smartphones. Facebook has denied that it accesses your mic in this way, but some users remain skeptical. If you think your phone’s listening in for targeted advertising, check your app permissions now.</p>
      <p><b>Should You Delete Facebook?</b></p>
      <p>You’re probably looking for a more permanent solution, and the obvious one is deleting or deactivating your Facebook account. There’s a big difference—the former completely gets rid of your account, while deactivation is a short-term way of distancing yourself from the platform.</p>
      <p>But deletion is really about damage limitation. It won’t affect those aforementioned shadow profiles, and some data still exists.</p>
      <p>It’s still a sound option, but before you take any of these steps, you should investigate what deactivation and deletion mean for your privacy.</p>
  </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
      </div>
        </section>

        <!-- event section one end  here -->






          <!-- event section two start  here -->

        <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
          <a href=""data-toggle="modal" data-target="#event14">
            <img class="card-img-top" src="/images/pix14.jpg" height="250px">
            <div class="card-body  ">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Thursday, 9 July 2020</span>
                </div>
                <div class="text-justify  mode mt-2">
                  <h5><b> SpaceX could send NASA to Jupiter's potentially habitable moon Europa</b></h5>
                </div>

              <p class="card-text space  mode text-justify mt-3 mb-0">
              A Falcon Heavy, or another big SpaceX rocket, could carry NASA's planned Europa Clipper mission to the icy Jupiter moon Europa, which hides a subsurface ocean many scientists think may be able to support alien life.
              </p>
            </div>
        </div>


        <section>
        <div class="modal fade bd-example-modal-lg" id="event14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="pb-1">
            <img src="/images/pix14.jpg" width="100%" height="400" class="">
          </div>
          <div>
            <h4 class="">News Details</h4>
          </div>
            <div>
              <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
              <span class="ml-2">Thursday, 9 July 2020</span>
            </div>
            <div class="text-justify  mode mt-2">
              <h5><b> SpaceX could send NASA to Jupiter's potentially habitable moon Europa</b></h5>
            </div>
            <div class="mt-3 space  mode text-justify">
              <p>A Falcon Heavy, or another big SpaceX rocket, could carry NASA's planned Europa Clipper mission to the icy Jupiter moon Europa, which hides a subsurface ocean many scientists think may be able to support alien life. </p>
              <p>A draft of a congressional appropriations bill released Tuesday opens the door for Elon Musk's rocket company, or even a competitor like Jeff Bezos' Blue Origin, to provide the ride that'll send an orbiter to the Jovian system by 2025 and a lander to Europa by 2027. </p>
              <p>"The National Aeronautics and Space Administration shall use the Space Launch System, if available, as the 10 launch vehicles for the Jupiter Europa missions," reads the draft bill from the House Appropriations Committee.</p>
              <p>Those two little words -- "if available" -- are new. In the past, Congress has tied money for the Europa mission to a requirement that NASA use its Space Launch System. But SLS has been woefully behind schedule and over budget for years now. And SpaceX has been lapping NASA's in-house rocket development program recently, with the successful debut of the Falcon Heavy and the ongoing progress of its bigger Starship. </p>
              <p>SLS is proving to be way more expensive than what SpaceX could offer, and it's not even clear it'll be ready to go by 2025 at this point. </p>
              <p>The bill also provides over $400 million for NASA to build the Europa orbiter. </p>
              <p>Of course, this is just a beginning in the budgetary process. Congress will continue to negotiate the actual amounts and terms of how much NASA will actually receive and for what. Still, this tiny change in an early document is an important acknowledgement that sticking with SLS may not be practical if the rocket won't be ready in time for a launch as soon as 2024.</p>
              <p>The same bill also allocates funds for NASA's Artemis mission to return astronauts to the moon, though it offers less than half of what the White House has asked for. </p>
              <p>The Trump administration has set a goal of sending the first woman astronaut to the surface of the moon by 2024, a goal that many inside the space industry are skeptical can be accomplished, particularly without the full support of Congress and its pocketbook. </p>

          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
        </section>
          <!-- event section two end here -->

        <!-- event section three start here -->

        <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
          <a href=""data-toggle="modal" data-target="#event15">
            <img class="card-img-top" src="/images/pix15.jpg" height="250px">
            <div class="card-body  ">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Thursday, 9 July 2020</span>
                </div>
                <div class="text-justify  mode mt-2">
                   <h5><b>The best headphones of 2020</b></h5>
                </div>

              <p class="card-text space  mode text-justify mt-3 mb-0">
              With so many great options out there, it's hard to narrow things down into a best-of-the-best headphones list, especially since it's impossible to review every model on the market. But I'll try anyway. </p>
            </div>
        </div>




<section>
<div class="modal fade bd-example-modal-lg" id="event15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg " role="document">
<div class="modal-content ">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle"></h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="pb-1">
    <img src="/images/pix15.jpg" width="100%" height="400" class="">
  </div>
  <div>
    <h4 class="">News Details</h4>
  </div>
    <div>
      <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
      <span class="ml-2">Thursday, 9 July 2020</span>
    </div>
    <div class="text-justify  mode mt-2">
      <h5><b>The best headphones of 2020</b></h5>
    </div>
    <div class="mt-3 space  mode text-justify">
      <p>With so many great options out there, it's hard to narrow things down into a best-of-the-best headphones list, especially since it's impossible to review every model on the market. But I'll try anyway. We tend to focus on wireless headphones, and true wireless in particular -- yes, Apple's AirPods have been insanely popular the last few years -- but this list of best headphones also includes over-ear headphones, on-ear models, headphones with noise cancellation, and even some more affordable headphones as "budget" standouts for those of you who don't want to spend an arm and a leg for comfort and great sound.</p>
      <p>These are our current favorites for the "best headphones" designation (with waterproofing ratings included for in-ear models). Just note that we expect to see a deluge of new models in 2020, many of which we saw previewed at CES in January. We'll update this list regularly.</p>
      <p><b>Best-sounding true wireless noise canceling.</b></p>
      <p>The second-gen Momentum True Wireless 2, available now for preorder and shipping in April, aren't cheap at $300, but they're better all around than the originals, with a slightly smaller, more comfortable design, active noise canceling that rivals that of the AirPod Pro, improved battery life (up to 7 hours versus the original's 4) and better noise reduction during calls. And, if you don't like them in black, a white version is slated to follow later this year. Most importantly, though, the Momentum True Wireless 2 have the same stellar sound -- for true wireless earbuds, anyway -- offering clearly superior sound quality to the AirPods Pro. That makes this wireless headphone arguably the best true wireless earbuds on the market today and earns them a CNET Editors' Choice Award.</p>
      <p>These use Bluetooth 5.1 with support for the AAC and AptX codecs (for devices that have AptX, such as Samsung's Galaxy smartphones). Read our Sennheiser Momentum True Wireless 2 review.</p>
      <p><b>Souped-up Samsung</b></p>
      <p>Samsung's Buds Plus look essentially the same as the original Galaxy Buds, but this earbud's battery life is rated at 11 hours for music playback (up from 6), and they pack dual drivers for better sound and an additional microphone in each bud to help with external noise reduction while making calls.</p>
      <p>These headphones have great sound. It's detailed and smooth, with deep, well-defined bass. The sound is richer and more spacious than that of the original Galaxy Buds. Well-respected Austrian audio company AKG, which Samsung acquired when it bought Harman, is behind the audio. While the original Buds were also "tuned" by AKG, these are a nice upgrade over the originals -- and right there with what you get with the Jabra Elite 75t, if not even a touch better. They use Bluetooth 5.0 and support for AAC (there's now an app for iOS users) and Samsung's scalable codec, which is similar to aptX but is proprietary to Samsung Galaxy phones. Read our Samsung Galaxy Buds Plus review.</p>
      <p><b>Top noise-canceling headphone</b></p>
      <p>Sony's WH-1000XM3, the third generation of Sony's excellent wireless noise canceling headphones, has a more comfortable fit and features even better performance than its predecessor, perfect audio quality for listening to music. These headphones also have a great, comfortable ear cup. And finally, with a strong battery life, these over-ear wireless headphones are currently our top-rated pick for noise canceling, edging out the Bose Noise Cancelling Headphones 700, which are more expensive. Read our Sony WH-1000XM3 review.</p>
      <p><b>Best designed true wireless noise canceling</b></p>
      <p>Even if they don't sound as magical as you'd hope a $249 model would, the Apple AirPods Pro still manage to be a great example of a true wireless in-ear headphone. That's largely due to their winning design and fit, improved bass performance and effective noise canceling. They're an excellent choice when you want to make a call or listen to music during your workout. Yeah, they're expensive at $250, but the good news is you'll use them so much you'll probably wear the battery down -- it does degrade over time and isn't replaceable -- and have to buy a new pair in 18 to 24 months if you don't lose them first. Read our Apple AirPods Pro review.</p>
      <p><b>Best noise-canceling headphones for making calls</b></p>
      <p>Bose Noise Cancelling Headphones 700, the long-awaited successor to its Quiet Comfort 35 II models, may not be a quantum leap forward but these wireless headphones offer slightly better sound quality, call and noise-canceling quality. Alas, these over-ear headphones cost $400, but they're strong all-around performers with up to 20 hours of battery life for listening to podcasts, music and more. I prefer the Sony WH-1000XM3's design and fit (and lower price tag), and while you can argue about which pair of headphones sounds better, one thing is certain: This model works significantly better as a headset for making calls. For some people that may be worth the extra cost. Read our Bose Noise Cancelling Headphones 700 review.</p>
      <p><b>Excellent all-around true wireless</b></p>
      <p>At first glance, the Elite 75t, which was originally supposed to cost $200 but now sells for $180 (£170 or AU$299), seemed more like an evolutionary upgrade from the Elite 65t. But the updates turned out to be a little more substantial than I first thought. The Elite 75t's smaller size (the pair of earbuds and case are 20% smaller than the Elite 65t's), its boosted battery life and USB-C charging are significant upgrades. And then there are the smaller changes, like the new charging case design with magnets inside it that make it easier to open and close and to keep the buds inside. While the Elite 75t isn't quite as comfortable to wear as the AirPods Pro and doesn't have active noise canceling, it does sound better for listening to your music, with clearer overall sound and better bass definition, so long as you get a tight seal. Just note that the Jabra Elite Active 75t arrives in February, adding slightly better water resistance for $20 more. Read our Jabra Elite 75t review.</p>
      <p><b>Best true wireless under $100</b></p>
      <p>If you can't afford the AirPods Pro, the Anker Soundcore Liberty Air 2 is a good alternative and a top model for making calls or listening to your music playlist. Like the AirPods Pro, they do a remarkably good job of muffling ambient noise (callers said they could hear me fine even with a lot of street noise around me). While they don't have active noise canceling, they sound nearly as good, have a comfortable fit and their noise-isolating design passively seals out a lot of ambient noise and white noise. They only cost $100. Read our Anker Soundcore Liberty Air 2 review.</p>
      <p>Top-notch true wireless sound</p>
      <p>Thanks to the WF-1000XM3, Sony has finally become a player in the true wireless (AirPod-style) headphone arena. While this pair of headphones isn't cheap, as far as sound quality, they're the best wireless earbuds at this price, matching and perhaps even exceeding the quality and performance of pricier competitors from Sennheiser, Beats, Master & Dynamic and Bang & Olufsen. It also has a feature that those wireless earbuds don't have: active noise-cancellation technology to reduce ambient noise.</p>
      <p>It's not stellar for making calls (their noise-reduction capabilities should be better) and the earbuds aren't rated as sweatproof or waterproof. That said, I've used them for light workouts with a bit of a sweat at the gym without a problem. They use Bluetooth 5.0 with support for AAC but not aptX. Read our Sony WF-1000XM3 review.</p>
      <p></p>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</section>
</div>
</section>

<!-- event section three end here -->
