












<!-- event section one start  here -->
      <section class="container">
        <div class="row justify-content-between mt-5">
          <div class="card smallscreen cardmargin"  style="width: 20rem;">
            <a href=""data-toggle="modal" data-target="#event1">
            <img class="card-img-top" src="/images/pix1.jpg" height="250px">
            <div class="card-body">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>

              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Friday, 3 July 2020</span>
                </div>

                <div class="text-justify mode mt-3">
                  <h5><b>Google Nest Hub Max now lets you make group video calls.</b></h5>
                </div>
              <p class="card-text space mode text-justify mt-3 mb-0">
              Video calling on the Google Nest Hub Max is no longer just a one-on-one deal.
              </p>
            </div>
        </div>

        <section>
        <div class="modal fade  bd-example-modal-lg bd-example-modal-sm mimi_model hight-model" id="event1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog modal-sm hight-model" role="document">
        <div class="modal-content ">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="pb-1">
            <img src="/images/pix1.jpg" width="100%" height="400" class="">
          </div>
          <div>
            <h4 class="">News Details</h4>
          </div>
            <div>
              <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
              <span class="ml-2">Friday, 3 July 2020</span>
            </div>
            <div class="text-justify mt-5">
              <h5><b>Google Nest Hub Max now lets you make group video calls.</b></h5>
            </div>
            <div class="mt-3 space mode text-justify">
        <p >Video calling on the Google Nest Hub Max is no longer just a one-on-one deal, with Google announcing that group video calls via Google Duo and Google Meet are coming to the 10-inch smart display. Starting today, you can use the Google Nest Hub Max for Google Duo group calls with up to 32 people (the same limit as web and mobile Duo calls), as well as Google Meet calls with up to 100 people. Even better, Google Meet calls on the Nest Hub Max will offer beta support for G Suite accounts, meaning you’ll be able to use the display for work-oriented group calls.

Group calling on smart displays would seem like a no-brainer, particularly while we’re all stuck at home due to the ongoing pandemic, yet it’s a feature that’s been—until now, anyway—curiously absent on the most popular displays. Video calls on Amazon’s Echo Show displays are strictly one-to-one affairs, both for native Echo Show video calls and Skype calls, while the Google Nest Hub Max is only now getting video calls following today’s announcement. Facebook’s Portal smart displays are capable of group video calls, but only for up to eight people via Facebook Messenger or four people for WhatsApp.

To start a Google Duo group call on a Google Nest Hub Max, you’ll first need to create some groups in the Google Duo mobile app. Once that’s done, you can say “Hey Google, make a group call” to the Google Nest Hub Max, and Google Assistant will show your available Duo groups on the display. Just tap a group to begin or join a call. The Google Nest Hub Max’s “auto-framing” feature will keep you in the frame even when you move around the room, just as it does during one-on-one video chats.  The procedure for making group video calls is slightly different for Google Meet. To join a Google Meet call, you can say “Hey Google, join a meeting,” then enter the meeting code on the Nest Hub Max’s display, or you can say “Hey Google, join my next meeting” to automatically join the next Google Meet that’s scheduled on your Google Calendar. To host a meeting on the Nest Hub Max, you can simply say, “Hey Google, start a meeting.”

Beyond setting up personal Google Meets on a Google Nest Hub Max, G Suite users will be able to hold work meetings on the display, provided that your G Suite admin joins the G Suite with Google Assistant beta program.

While Google Meet calls on Google smart displays will be restricted to the Google Nest Hub Max for now, Google Duo group calling is also coming to a handful of third-party Google Assistant-enabled smart displays, including Lenovo’s 8- and 10-inch Smart Displays, the LG XBOOM AI ThinkQ WK9 Smart Display, and the JBL Link View.
</p>
  </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
      </div>
        </section>

        <!-- event section one end  here -->






          <!-- event section two start  here -->

        <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
          <a href=""data-toggle="modal" data-target="#event2">
            <img class="card-img-top" src="/images/pix2.jpg" height="250px">
            <div class="card-body  ">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Friday, 3 July 2020</span>
                </div>
                <div class="text-justify  mode mt-2">
                  <h5><b> Environmentally conscious wireless earbuds with mediocre noise cancelling</b></h5>
                </div>

              <p class="card-text space  mode text-justify mt-3 mb-0">
                Will you be redeemed by wearing the Redemption ANC buds from the House of Marley? Likely not.
              </p>
            </div>
        </div>


        <section>
        <div class="modal fade bd-example-modal-lg" id="event2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="pb-1">
            <img src="/images/pix2.jpg" width="100%" height="400" class="">
          </div>
          <div>
            <h4 class="">News Details</h4>
          </div>
            <div>
              <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
              <span class="ml-2">Friday, 3 July 2020</span>
            </div>
            <div class="text-justify  mode mt-2">
              <h5><b>House of Marley Redemption ANC review: Environmentally conscious wireless earbuds with mediocre noise cancelling</b></h5>
            </div>
            <div class="mt-3 space  mode text-justify">
              <p>Will you be redeemed by wearing the Redemption ANC buds from the House of Marley? Likely not, but if you’re concerned about the usual Earth-unfriendly methods of making devices like this, you’ll probably at least walk away with a load off your conscience.

They’re not biodegradable, but they are made from recycled silicone, and House of Marley even found a way to work sustainable materials like bamboo and wood into the design. Along with their sound quality and general stylishness, that’s a good reason to be happy about these buds, but it may not take long before you start worrying about the shortcomings of some of the active noise cancelling and other features. They make a good impression even when they’re in the charging case. The case itself is unfortunately bulky enough that it doesn’t fit easily into jeans pockets, but I kind of like its black, pucky body and the way it’s crowned with a square of bamboo. (It doesn’t hurt that House of Marley’s logo is pretty nifty, too.) When you combine the Redemption’s case with the colorful nylon USB-C charging cord it comes with, the whole package looks a little like something you might find on one of Etsy’s classier pages. At least there’s sort of a good reason for that big case. The Redemption ANC buds can last an impressive seven hours on a single charge, and the case grants three more full charges. A row of four lights along the front ensures you always know just how much of a charge is left in the case, and on the back you’ll find the USB-C charging port itself, perched right above the Bluetooth pairing button. Pairing should be easy enough without it for the initial setup: I simply opened my iPhone’s Bluetooth menu, opened the charging case, and I immediately got a prompt to pair the individual buds.

I didn’t mind the hefty charging case so long as I kept it in my bag—but unfortunately, the buds themselves are pretty hefty, too. They look a lot like Apple’s first-generation AirPods aside from the black body and the wood running down the stem, but they’re also noticeably thicker. And that’s without the three different sizes of rubber ear tips they come with to help with the ANC, as well as a pair of wraparound ear fins that help keep them in place. I’ve always worried about my AirPods falling out even during a brief jog, but to my surprise, the Redemption buds stayed in even during a brief run down the block. They also have a water resistance rating of IPX4, so they’ll shrug off sweat from a workout but not a downpour on a rainy day. Still, they’re quite big. You’re never going to forget they’re in your ears. <p>Like the AirPods, you control the Redemption ANC through a series of taps on the stems. Two taps on the right stem plays or pauses your music, two taps also allows you to answer or end a call, and three taps let you skip to the next track on your music. (Sorry, you can’t use them to repeat a track.) On the left bud, two taps activate voice assistants like Siri or Google Assistant (depending on your phone), and two taps also let you decline a call. If you tap three times, you can turn on the active noise canceling, turn on the ambient mode, or turn both features off. Want to pause without pausing them? Just pull one of the buds out of your ears. Whew.

That’s a lot of info to digest, and a lot of it didn't click until I went online and watched one of House of Marley’s instructional videos. Fortunately, it’s easy to learn the controls, but they’re not so intuitive that you’ll easily figure out their full range on your own without some frustration.

That said, you’ll probably end up frustrated anyway because of the finicky controls. At least a third of the time the Redemption buds interpreted my three taps for turning off the ANC as two taps, so I’d end up having an unexpected chat with Siri. I had similar troubles with the right bud when I was trying to skip forward to the next track. Even after several days with the Redemption buds, this never stopped being a problem. <p>And then there’s the actual noise canceling. It works, technically, but sometimes I wouldn’t have even known it was on were it not for the built-in British-accented voice confirmation. Frankly, the ANC I experienced with these headphones was about the same level of noise cancelling I might get from wrapping a T-shirt around my ears. Sounds that I’d normally expect to be muted by ANC—my desk fan, the cars going by on my street, and even the wind on my windows—still managed to sneak through regardless of which tip I wore. In other words, these are not earbuds for folks who like to use ANC buds while working in silence without musical accompaniment.

The “ambient” mode (which allows you to hear your surroundings as if you weren’t wearing buds) is a little more impressive, but the inferior quality of the microphone never lets you forget that you’re hearing your environs through a piece of hardware. After discovering this, I wasn’t too surprised when I called family and friends with the Redemption buds and was told the call quality was merely “okay.”</p> <p>I’m happy to report that the sound quality of the music I played went a long way toward redeeming the Redemption ANC buds. It’s surprisingly impressive considering the disappointments of the ANC, especially if you’re a fan of tracks with heavier bass. Thumpin’ tracks like Billie Eilish’s “Bad Guy” or Of Montreal’s “Gronlandic Edit” resounded deeply through my head without smothering the songs’ middle and high ranges. On tracks with softer low ranges like The Rolling Stones’ “Sweet Virginia,” I was pleased to find the Redemption ANC buds hit the right degree of weightiness.

It’s enough to make me think House of Marley designed these buds with the assumption that you’re almost always going to be playing music when they’re in your ears. In those circumstances, the music is going to be doing the most of the work of the “noise cancelling,” and the weak ANC on the buds does pull some of the remaining slack. But only some. When the music stops, as it does for a second after the opening riff of ZZ Top’s “Just Got Paid,” I can still hear my desk fan chugging along. That’s not pleasant.</p>
 <p>At $200, the Redemption ANC may seem steep, but for context, Apple sells its ANC-free second-generation AirPods at the same price. But even with the significant advantage of the ANC and sound quality, the Redemption buds are tough to recommend. For one, that active noise cancellation isn’t all that good, and the fussy controls and bulky size of both the case and the buds are already leading me to reach for other buds when I leave my apartment. Of course, if you’re particularly impressed with House of Marley’s environmentally conscious manufacturing efforts, these earbuds’ shortcomings certainly aren’t so great to dissuade you from considering them.</p> </p>
</p>
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
        </section>
          <!-- event section two end here -->

        <!-- event section three start here -->

        <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
          <a href=""data-toggle="modal" data-target="#event3">
            <img class="card-img-top" src="/images/pix3.jpg" height="250px">
            <div class="card-body  ">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Friday, 3 July 2020</span>
                </div>
                <div class="text-justify  mode mt-2">
                   <h5><b>Anker Soundcore Rave Neo review: Fat, punchy bass for the dance floor</b></h5>
                </div>

              <p class="card-text space  mode text-justify mt-3 mb-0">
                If you’re looking for speaker to a inspire wholesale shuffling at your next party, then Anker’s $99 Soundcore Rave Neo is just what you’re looking for.  </p>
            </div>
        </div>




<section>
<div class="modal fade bd-example-modal-lg" id="event3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg " role="document">
<div class="modal-content ">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle"></h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="pb-1">
    <img src="/images/pix3.jpg" width="100%" height="400" class="">
  </div>
  <div>
    <h4 class="">News Details</h4>
  </div>
    <div>
      <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
      <span class="ml-2">Friday, 3 July 2020</span>
    </div>
    <div class="text-justify  mode mt-2">
      <h5><b>Anker Soundcore Rave Neo review: Fat, punchy bass for the dance floor</b></h5>
    </div>
    <div class="mt-3 space  mode text-justify">
      <p>If you’re looking for speaker to a inspire wholesale shuffling at your next party, then Anker’s $99 Soundcore Rave Neo is just what you’re looking for. It’s loud with a tight, thumpy low end that will promote all sorts of rhythmic action and thoughts. (It had my roommate Bridget dancing in zero seconds flat).</p>
       <p>Audiophile, it’s not, but that’s not its gig and the Rave Neo renders the desired effect when in its element.</p>
        <p>The Soundcore Rave Neo is an upright, monophonic speaker that measures a little more than 11 inches tall, about 5.5 inches at its thickest, and roughly 7 inches wide. It weighs in at a little less than 3 pounds, but an easy-on-the-hands, fabric-covered strap makes for easy toting.</p>
       <p> The controls for the Rave Neo are on top of the unit as you can see in the above product image. There’s the usual volume up/down, Bluetooth pairing, and power buttons, plus a toggle for the bass boost. Also on hand is the link button for PartyCast, which will link the Rave Neo with up to 100 of its ilk.</p>
       <p>There’s a button to change the patterns produced by the RGB LEDs circling the 4-inch woofer (there’s a 2-inch full-range driver and passive radiator as well), and a very unusual icon (between the plus/minus) representing a multi-function play/pause/previous/next button.</p>
        <p>Anker includes a “universal” one-picture-is-worth-a-thousand-words type manual for the Rave Neo, but it could be a lot clearer and was incomplete. For instance, it didn’t cover changing between the three EQ modes (done via the Soundcore app) or how to invoke the Siri/Google phone function at all. I had to peruse the Anker’s website about the first, and discovered the latter (super long press on the weird icon) by sheer luck. </p>
         <p>The Rave Neo is rating IPX7 for protection from water, meaning you can submerge it in the kiddie pool (up to one meter) for up to 30 minutes To that end, the USB-C charging port, USB Type-A charge-other-stuff port, and 3.5 mm stereo auxiliary input are hidden beneath a captive rubber plug on the back of the unit.</p>
      <p>The Soundcore Rave Neo might be the most aptly named speaker I’ve run across. It’s designed for parties, where volume and bass count for more than uber fidelity. Viewed (and listened to) from that perspective, it’s a good speaker.</p>
       <p>The Rave Neo’s best trick by far is its tight, pumping bass. Anker nailed it, and the section of the mid-range it accentuates is the one most likely to cut through crowd noise, wind, and other ambient stuff.</p>
       <p>As usual, I threw a variety of genres at the speaker, and I wasn’t impressed until I cranked it up and hit the EDM  (Electronic Dance Music), hip hop, and selections. At that point, it came to life.</p>
       <p>Employing the EQ in the Soundcore app made a huge difference for quieter types of music, though it couldn’t compensate fully due to an overall slight lack of high-end sparkle, somewhat weak upper mid-range definition, and the absence of stereo separation. Quiet contemplation isn’t really the Rave Neo’s thing. That said, with the default “outdoor” EQ setting, the portion of the mid-range that cuts through crowds and other noise is definitely there</p>
       <p>I left the bass boost engaged for the most part, and used the EQ to dial it back as necessary. Battery life was just around the claimed 18 hours at the lower volumes I used, but will decrease as things gets louder. If you’re going to party hard for that long, you’ll need an AC outlet.</p>
        <p> Anker also sent me a smaller Soundcore Flare 360 speaker ($69) to test the PartyCast feature that it and the Rave Neo share. The Flare 360 has much better high-frequency performance and stereo separation, but weaker bass. The pairing was far more satisfying sonically than either speaker on its own.</p>
<p>Note that PartyCast linking was easy, but that no sound issued from the Flare 360 until I boosted the volume on the Rave Neo. The lack of emanations consternated me for a good half hour.</p>
<p> As it will likely be used under conditions where the relative lack of sparkle and upper-range definition won’t matter, the Soundcore Rave Neo is on point for its mission: loud, throbbing, dance music delivery. Buy it for that. And if you want a nicer sonic experience, pair it with with the Soundcore Flare 360.
</p>

</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</section>
</div>
</section>

<!-- event section three end here -->





<!-- event section four start here -->
<section class="container">
<div class="row justify-content-between mt-5">
  <div class="card smallscreen cardmargin" style="width: 20rem;">
    <a href=""data-toggle="modal" data-target="#event4">
    <img class="card-img-top" src="/images/pix4.jpg" height="250px">
    <div class="card-body">
      <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
      <div>
          <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
          <span class="ml-2">Friday, 3 July 2020</span>
        </div>
        <div class="text-justify mt-2">
          <h5><b>The ad hater's guide to cord-cutting</b></h5>
        </div>
      <p class="card-text space mode text-justify mt-3 mb-0">
    For some cord-cutters, extricating themselves from cable isn’t just about a lower TV bill. It’s also about escaping from advertising, When you ditch cable or satellite TV.</p>
    </div>
</div>

<section>
<div class="modal fade  bd-example-modal-lg mimi_model" id="event4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg " role="document">
<div class="modal-content ">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle"></h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="pb-1">
    <img src="/images/pix4.jpg" width="100%" height="400" class="">
  </div>
  <div>
    <h4 class="">News Details</h4>
  </div>
    <div>
      <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
      <span class="ml-2">Friday, 3 July 2020</span>
    </div>

    <div class="text-justify mt-2">
      <h5><b>For some cord-cutters, extricating themselves from cable isn’t just about a lower TV bill. It’s also about escaping from advertising.</b></h5>

    </div>
    <div class="mt-3 space mode text-justify">
<p>For some cord-cutters, extricating themselves from cable isn’t just about a lower TV bill. It’s also about escaping from advertising.</p>
<p>When you ditch cable or satellite TV, it’s possible to set up a plan in which you’ll never have to sit through commercial breaks again. While the right combination of hardware and streaming services can cost a bit more, the added expense is worthwhile if you hate being interrupted by advertisements.</p>
<p>Here’s what you need to consider for an ad-free cord-cutting setup:</p>
<p>The most obvious way avoid ads as a cord-cutter is to choose commercial-free streaming services. That way, your viewing experience will never be interrupted by annoying ad breaks.</p>
<p>The list of ad-free streaming services is long, so subscribing to lots of them at the same time would waste an absurd amount of money. My advice, as always, is to pick one or two “base” services that will comprise most of your TV viewing, then add or drop others on a month-to-month basis.</p>
<p></p>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</section>

<!-- event section four end here -->


<!-- event section five start here -->
<div class="card smallscreen cardmargin margintop" style="width: 20rem;">
  <a href=""data-toggle="modal" data-target="#event5">
    <img class="card-img-top" src="/images/pix5.jpg" height="250px">
    <div class="card-body  ">
      <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
      <div>
          <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
          <span class="ml-2">Friday, 3 July 2020</span>
        </div>
        <div class="text-justify mt-2">
          <h5><b>This Smart Home Camera Detects Everything.</b></h5>
        </div>
      <p class="card-text space mode text-justify mt-3 mb-0">
        Our verdict of the SimCam 1S Home Security Camera:
  Easy to set up and with a wealth of AI features, the SimCam 1S also offers a nice trio of mounting options.</p>
    </div>
</div>

<section>
<div class="modal fade bd-example-modal-lg" id="event5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg " role="document">
<div class="modal-content ">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle"></h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="pb-1">
    <img src="/images/pix5.jpg" width="100%" height="400" class="">
  </div>
  <div>
    <h4 class="">News Details</h4>
  </div>
    <div>
      <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
      <span class="ml-2">Friday, 3 July 2020</span>
    </div>

    <div class="text-justify mt-2">
      <h5><b>This Smart Home Camera Detects Everything.</b></h5>
    </div>
    <div class="mt-3 space mode text-justify">
<p>Our verdict of the SimCam 1S Home Security Camera:
Easy to set up and with a wealth of AI features, the SimCam 1S also offers a nice trio of mounting options. If you're looking for am affordable smart home-integrated internal security camera, this is a good place to start.</p>
<p>Whether you’re looking for a cam to keep your premises secure or want to keep an eye on pets, a smart home camera can help.</p>
<p>They can be installed in almost any position, feature wireless internet, and send updates to your phone. Smart cameras are the ideal domestic security and monitoring solution—they’re even perfect as baby monitors.</p>
<p>Sometimes, though, smart home security cameras are a little too keen to inform. This is where the SimCam 1S AI Home Camera can change things, thanks to AI-managed recognition.</p>
<p>Rather than sharing every single detail with you, this device features facial recognition, person detection, and auto tracking.</p>

<p>It also makes some key boasts:</p>
<p>1. No false alerts</p>
<p>2. No detection miss-out</p>
<p>3. No storage subscription fee</p>
<p>4. No privacy compromise</p>
<p>Some of these are pretty brave. The lack of a subscription fee is welcome, for example. Avoiding false alerts seems difficult, however, while the privacy declaration seems to tempt fate rather than impress.</p>
<p>To avoid false alerts, the SimCam 1S AI is designed to recognize and learn body shape data. Shapes might be people, pets, or vehicles. The AI can recognize faces and distinguish between babies, pets, and strangers, and push alerts to your phone. Recognition—limited to 200 faces—is cited as 99 percent accurate. People can be recognized to 60 feet (18m), faces to 18 feet (5.5m). Meanwhile, a car can be detected at 20 feet (6m) and pets at 10 feet (3m).</p>
<p>Facial detection and recognition is measured at 30ms, although distance and light can slow this down. No training is required as SIMCAM has already trained the AI with millions of images.</p>
<p>Local AI processing ensures that the SimCam 1S maintains your privacy. Image data cannot be accessed by outside viewers. Further, the mobile app establishes a secured P2P (peer-to-peer) network with your phone</p>
<p><b> 100 Percent Privacy?</b></p>
<p>Manufacturers SIMCAM make a huge boast with the SimCam 1S: 100 percent privacy protection without data leak or reverse invasion of the camera. At the heart of the camera is an Ambarella CV25 SoC processor, managing image sensor, recognition, AI accelerator, and 1080p HD recording at 30FPS. Night vision is also included, for complete monitoring day and night.</p>
<p> Among the best home security cameras we’ve reviewed, the SimCam 1S is functional yet anonymous.</p>
<p>After all, there is little point in a camera that everyone can see. Its compact dimensions and unassuming appearance convey a device that is clearly a camera, but one that is ignored.</p>
<p>Smart home integration is satisfactory; the IFTTT integration more so. The mobile app is perfect for controlling the security camera, and zone detection and the facial recognition are superb. Better cameras are available at a higher price—for an affordable smart home integrated security camera, the SimCam 1S should be near the top of your list.</p>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</section>

<!-- event section five end here -->


<!-- event section six start here -->

<div class="card smallscreen cardmargin margintop" style="width: 20rem;">
  <a href=""data-toggle="modal" data-target="#event6">
    <img class="card-img-top" src="/images/pix6.jpg" height="250px">
    <div class="card-body  ">
      <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
      <div>
          <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
          <span class="ml-2">Friday, 3 July 2020</span>
        </div>
        <div class="text-justify mt-2">
          <h5><b>How to Find the Serial Number for Any Apple Device</b></h5>
        </div>
      <p class="card-text space mode text-justify mt-3 mb-0">
       Every Apple product has a unique serial number that’s made up of a long string of numbers and letters. You often need this number to check your device’s warranty, schedule a repair, or make an insurance claim.</p>
       </div>
</div>



<section>
<div class="modal fade bd-example-modal-lg" id="event6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg " role="document">
<div class="modal-content ">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle"></h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="pb-1">
    <img src="/images/pix6.jpg" width="100%" height="400" class="">
  </div>
  <div>
    <h4 class="">News Details</h4>
  </div>
    <div>
      <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
      <span class="ml-2">Friday, 3 July 2020</span>
    </div>
    <div class="text-justify mt-2">
      <h5><b>How to Find the Serial Number for Any Apple Device</b></h5>
    </div>
    <div class="mt-3 space mode text-justify">
<p> Every Apple product has a unique serial number that’s made up of a long string of numbers and letters. You often need this number to check your device’s warranty, schedule a repair, or make an insurance claim. Fortunately, there are usually a few different ways to find it.</p>
<p>Here are all the places you can find the serial number for your iPhone, iPad, iPod, Mac, Apple Watch, AirPods, Apple TV, or HomePod.</p>
<p><b> Common Places to Find Your Apple Serial Number</b></p>
<p>Before delving into the specific serial number locations for each device, you should know about several easy methods to find the serial numbers for any of your Apple products.</p>
<p>Typically, these options only work if the device is linked to your Apple ID account or if you originally purchased it from Apple. On the plus side, each of these universal options is available even if you can’t get your hands on the device itself—making them especially useful if you need to find the serial number after losing your device.</p>
<p><b> 1. The Apple ID Website</b></p>
<p> You can view the serial number and other details of all your Apple products from the Apple ID website. This includes any Apple device that is currently signed in to your account. Unfortunately, it doesn’t include accessories, like AirPods</p>
<p>From any device or computer, visit the Apple ID website and sign in using your username and password. If you use two-factor authentication, you may need to enter a security code to access your account.</p>
<p>After signing in, go to the Devices section to see a list of all your Apple devices. Select a device—iPhone, iPad, Mac, etc.—to view details about it, including the serial number.</p>
<p><b> 2. The Apple ID Settings</b></p>
<p>You can also find the serial number of any device signed in to your Apple ID account from the settings menu of your iPhone, iPad, iPod touch, or Mac. Again, this option doesn’t show you the serial number for accessories, like AirPods.</p>
<p>On an iPhone, iPad, or iPod touch, open the Settings app and tap your name at the top to view your Apple ID settings. Scroll down to see every device signed in to your account, then tap one to view more details about it, including the serial number.</p>
<p>On a Mac, open the System Preferences and click Apple ID. Every device using your Apple ID account appears in the sidebar; click on one to view details about it, including the serial number.</p>
<p><b>3. The Original Invoice or Receipt</b></p>
<p>When you buy an Apple product directly from Apple, you receive a purchase receipt with details about your new device, including the serial number. If you bought your device in an Apple Store, you may have a paper receipt. But if you bought it online, you should have an email receipt with your device’s serial number attached.</p>
<p>Search through your emails to find previous Apple receipts. The subject line could say:</p>
<p>i. Your Apple invoice</p>
<p>ii. Your Apple Store billing document</p>
<p>iii. Your receipt from Apple</p>
<p>After finding your attached Apple invoice, read the small print to find your serial number.</p>
<p><b>4. On the Original Packaging</b></p>
<p>If you still have the original box your Apple product came in, you should be able to find the serial number next to a barcode on the sticker. Check each side of the packaging to find this sticker. Make sure you read the serial number and not the UPC, which is next to a different barcode.</p>
<p>If you can’t find your serial number using the universal methods above, follow the device-specific instructions below.</p>
<p><b>How to Find Your iPhone, iPad, or iPod Serial Number</b></p>
<p>If you can turn on and use your iPhone, iPad, or iPod touch, go to Settings > General > About to find the serial number listed alongside other information for your device.</p>
<p>If your device turns on, but you can’t open Settings—perhaps due to a cracked display—find your serial number by connecting to a computer instead. Use a Lightning-to-USB cable to connect your device to a computer running iTunes (or Finder on macOS Catalina and later).</p>
<p>Open iTunes or Finder, then select your device to view information about it. In iTunes, find your serial number on the Summary tab. In Finder, click the gray text beneath your device name at the top of the window to reveal your serial number.</p>
<p>Finally, if your iPhone, iPad, or iPod touch doesn’t power on at all, you may be able to find the serial number printed or engraved on the device itself. Check the back of your device, towards the bottom. Alternatively, eject the SIM tray (if your device uses one) and inspect that instead.</p>
<p>On an iPhone or cellular iPad, you might find the IMEI number but no serial number. The IMEI number is an equally unique string of numbers that you can use to identify your device instead of the serial number.</p>
<p><b>Older iPod Devices</b></p>
<p>You may struggle to find your serial number if you have an iPod Classic, iPod nano, or iPod shuffle. However, the serial number should be engraved somewhere on the device. Keep checking every surface to find it. On an iPod shuffle, it is printed beneath the clip.</p>
<p><b>How to Find Your MacBook, iMac, or Mac Pro Serial Number</b></p>
<p>If your Mac doesn’t power on, you should find the serial number printed on the bottom of the casing.</p>
<p>On an iMac, you may need to look at the bottom of the foot stand to find your serial number. And on older Mac Pro models, you can find the serial number on the back panel, beneath the video ports.</p>
<p><b>How to Find Your Apple Watch Serial Number</b></p>
<p>Open the Settings app on your Apple Watch and navigate to General > About to find the serial number.</p>
<p>If this isn’t possible, find the serial number using a connected iPhone instead. On the iPhone, open the Apple Watch app and go to the My Watch tab. Tap General > About to find the serial number for your connected Apple Watch.</p>
<p>If your Apple Watch doesn’t power on and isn’t connected to an iPhone, look for a serial number printed on the watch itself. Check around the edge of the sensor or inside the band slots after removing the watch strap.</p>
<p><b>How to Find Your AirPods or AirPods Pro Serial Number</b></p>
<p>The easiest way to find the serial number for your AirPods or AirPods Pro is from the Settings app on a connected iPhone. With your AirPod case open, go to Settings > General > About on your connected iPhone. Then scroll down and select your AirPods to find the serial number for them.</p>
<p>If you can’t pair your AirPods with an iPhone, you should still be able to find the serial printed inside the lid of the charging case. The serial number is also printed in extremely small type on the bottom of each AirPod itself, unless you have first-generation AirPods.</p>
<p><b>How to Find Your Apple TV Serial Number</b></p>
<p>From your Apple TV home screen, go to Settings > General > About to find your serial number. If that isn’t possible, you can also find the serial number from Apple’s Home app on another Apple device.</p>
<p>Open the Home app from your iPhone, iPad, iPod touch, or Mac. Tap and hold (or double-click) on your Apple TV, then scroll down to reveal more details about it, including the serial number.</p>
<p>Finally, you can also find the serial number in reflective print on the bottom of the Apple TV itself. You may need to shine a flashlight to read the reflective serial number clearly.</p>
<p><b>Apple TV and Siri Remote</b></p>
<p>Your Apple TV remote or Siri Remote also has a unique serial number associated with it. Find this serial number from Settings > Remotes and Devices > Remote on your Apple TV.</p>
<p><b>How to Find Your Apple HomePod Serial Number</b></p>
<p>If your Apple HomePod is connected to your Apple Home network, open the Home app on an iPhone, iPad, iPod touch, or Mac. Tap-and-hold (or double-click) on your HomePod, then scroll down to find the serial number.</p>
<p>Alternatively, find your HomePod serial number printed on the bottom of the device.</p>
<p><b>Use the Serial Number to Check Your Warranty</b></p>
<p>Apple offers a generous one-year limited warranty from the purchase date of any product. After finding your serial number, use it to check when your Apple warranty expires. Be sure to get any repairs completed inside the warranty to avoid an expensive bill.</p>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</section>
</div>
</section>

<!-- event section six end here -->


<!-- event section seven start here -->
        <section class="container">
        <div class="row justify-content-between mt-5">
          <div class="card smallscreen cardmargin" style="width: 20rem;">
            <a href=""data-toggle="modal" data-target="#event7">
            <img class="card-img-top" src="/images/pix7.jpg" height="250px">
            <div class="card-body">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm ">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Friday, 3 July June 2020</span>
                </div>
                <div class="text-justify mt-2">
                  <h5><b>AMD vs. NVIDIA GPUs on Linux: Which Should You Use?</b></h5>
                </div>
              <p class="card-text space mode text-justify mt-3 mb-0">
                When it comes to choosing a fast graphics card, there are two main options: AMD and Nvidia. There are several factors that set them apart.
                </p>
            </div>
        </div>


        <section>
        <div class="modal fade  bd-example-modal-lg mimi_model" id="event7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="pb-1">
            <img src="/images/pix7.jpg" width="100%" height="400" class="">
          </div>
          <div>
            <h4 class="">News Details</h4>
          </div>
            <div>
              <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
              <span class="ml-2">Friday, 3 July 2020</span>
            </div>
            <div class="text-justify mt-2">
              <h5><b>AMD vs. NVIDIA GPUs on Linux: Which Should You Use?</b></h5>
            </div>
            <div class="mt-3 mode text-justify">
              <p>When it comes to choosing a fast graphics card, there are two main options: AMD and Nvidia.</p>
              <p>There are several factors that set them apart. On Windows, speed is all that matters—Nvidia GPUs (graphical processing unit) tend to be faster than AMD. But on Linux, there are other things to keep in mind.</p>
              <p>But what should you choose for Linux—an AMD or Nvidia GPU?</p>
              <p><b>Is Intel Graphics the Best Choice for Linux?</b></p>
              <p>Before comparing AMD and Nvidia, it’s worth considering the key alternative.</p>
              <p>The only graphics card provider you can absolutely be sure to work is Intel’s integrated graphics. While they may not be that fast, Intel’s integrated graphics have improved considerably. They’re also very battery friendly in comparison to Nvidia or AMD’s graphics cards.</p>
              <p>Intel support is available out of the box, with drivers fully open source on Linux. Many games are also quite playable, if not as well as with dedicated graphics cards. You’re also assured to have Wayland working if you wanted to test it out, due to its open source nature.</p>
              <p><b>GPU Drivers: Proprietary vs. Open Source</b></p>
              <p>There are two types of drivers you can install to get your graphics cards working, namely proprietary drivers or open source. While there are good and bad aspects to both, they differ if you’re using a Nvidia or AMD graphics card.</p>
              <p>For the best results, the proprietary drivers are always better. But if you have a philosophical objection to proprietary drivers, the open source alternatives are more attractive.</p>
              <p><b>Should You Use Nvidia Graphics Cards for Linux?</b></p>
              <p>While there are open source and proprietary Nvidia drivers for Linux, the best performance comes from proprietary drivers. Nouveau, the open source driver for Nvidia cards, delivers overall poorer results than its proprietary counterpart.</p>
              <p>Much of the work done by nouveau is through reverse engineering the proprietary Nvidia driver. It’s similar to how the Wine project recreates a Windows environment to run programs like Microsoft Office on Linux. Basically, developers look at the results of a program and work backwards from there.</p>
              <p>This has its drawbacks, mainly on the speed and compatibility fronts. Proprietary Nvidia drivers are far faster than nouveau, especially with newer graphics cards.</p>
              <p>Another drawback is that nouveau lacks something that the proprietary driver has: reclocking. This allows the GPU to work harder, and thus perform faster (at the cost of more power). Unfortunately, only a few Nvidia GPUs can use this with nouveau installed, none of them very new.</p>
              <p>The difference in speed is considerable, especially for newer graphics cards. Some benchmarks show that the proprietary drivers can perform up to nine times faster than their open source counterparts.</p>
              <p>Simply, nouveau is suitable for drawing your desktop, but gaming has a way to go.</p>
              <p><b> Is AMD the Best Graphics Card Option for Linux?</b></p>
              <p>For the most part, it doesn’t really matter which kind of drivers you install for AMD graphics cards. They’re well supported across the board, though using open source drivers is the preferred method. In fact, there are many cases where the open source drivers (AMDGPU for newer cards, and Radeon for older ones), are on par with their proprietary counterparts or even faster!</p>
              <p>Compared to Nvidia’s open source driver there is better support for newer graphics cards. This is partially due to AMD’s support for the open source community, providing documentation and manpower for driver development.</p>
              <p>But while AMD open source drivers are decent across the board in the, your performance will still be noticeably slower than using a Nvidia graphics card with proprietary drivers.</p>
              <p><b>AMD vs Nvidia: Which Is Best for Graphics Switching?</b></p>
              <p>Almost all laptops and desktop PCs ship with integrated Intel graphics. Discrete GPUs from Nvidia and AMD are optional extras for laptops but can be added manually on desktops.</p>
              <p>Graphics switching is the capability of a computer to select which GPU to use. For basic tasks such as web browsing and word processing, the Intel GPU is chosen. For gaming, video editing, and similar, the discrete GPU is used.</p>
              <p>Proprietary and open source Nvidia and AMD drivers for Linux all support graphics switching.</p>
              <p><b>Does AMD or Nvidia Support Wayland?</b></p>
              <p>The Wayland display server is integral to the development of Linux and is available on most major Linux desktops.</p>
              <p>AMD and Intel graphics both work with Wayland using open source and proprietary drivers. Nvidia is a different story.</p>
              <p>While development of this is expected by 2021, Nvidia’s proprietary driver only works with GNOME’s implementation of Wayland.</p>
              <p>Compositors for Wayland need a special API (application programming interface), implemented by the graphics driver. The API that’s currently in use the most is called GBM (Generic Buffer Management). So long as you’re using an open source driver (AMDGPU/Radeon/nouveau), Wayland will work.</p>
              <p>As Nvidia’s proprietary driver uses a different API (EGLStreams), things are different. Many compositors don’t support for this, the GNOME desktop being the major exception. The open source alternative similarly doesn’t support Wayland.</p>
              <p><b>Which Is the Best Graphics Card for Linux: Intel, AMD, or Nvidia?</b></p>
              <p>For Linux desktop computers, it’s a much easier choice to make.</p>
              <p>Nvidia cards are more expensive than AMD and have the edge in performance. But using AMD guarantees superior compatibility and a choice of reliable drivers, whether open source or proprietary.</p>
              <p>The same is true for Intel, although this solution is slower.</p>
              <p>If you need Wayland support, AMD and Intel are the most reliable options. Otherwise, take a chance on Nvidia. It hasn’t had a great relationship with Linux over the years, but the growth of Linux gaming is changing that.</p>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
        </section>

        <!-- event section seven end here -->


        <!-- event section eight start here -->
        <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
          <a href=""data-toggle="modal" data-target="#event8">
            <img class="card-img-top" src="/images/pix8.jpg" height="250px">
            <div class="card-body  ">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Friday, 3 July 2020</span>
                </div>
                <div class="text-justify mt-2">
                  <h5><b>How to Record Your Screen and Stream With OBS Studio</b></h5>
                </div>
              <p class="card-text mode  space text-justify mt-3 mb-0">
              If you’re looking to record your screen or stream online, OBS Studio (formerly Open Broadcaster Software) is a great option. This tool makes it simple to capture screencasts, record your gameplay, stream to Twitch, and much more besides. </p>
            </div>
        </div>

        <section>
        <div class="modal fade bd-example-modal-lg" id="event8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="pb-1">
            <img src="/images/pix8.jpg" width="100%" height="400" class="">
          </div>
          <div>
            <h4 class="">News Details</h4>
          </div>
            <div>
              <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
              <span class="ml-2">Friday, 3 July 2020</span>
            </div>
            <div class="text-justify mt-2">
              <h5><b>How to Record Your Screen and Stream With OBS Studio</b></h5>
            </div>
            <div class="mt-3 space mode text-justify">
              <p>If you’re looking to record your screen or stream online, OBS Studio (formerly Open Broadcaster Software) is a great option. This tool makes it simple to capture screencasts, record your gameplay, stream to Twitch, and much more besides.</p>
              <p>However, if you’ve never used it before, OBS Studio might seem a little daunting at first. In this guide, we’ll show you how to set up OBS Studio, what you need to start recording and streaming, and tips for getting the best results.</p>
              <p><b>Download OBS Studio</b></p>
              <p>To get started, you’ll want to download OBS Studio for Windows, macOS, or Linux. We’ll use the Windows version for this tutorial, but it’s similar across all platforms.</p>
              <p>OBS Studio is truly free, so you don’t have to pay for any features. It’s also open source software, meaning anyone can look at the code and improve it. This is the case with a popular spin-off: Streamlabs OBS.</p>
              <p>Step through the standard installer. Once it completes, OBS Studio will offer to walk you through an auto-configuration wizard. You can do this if you like; we’ll review relevant settings below, though.</p>
              <p><b>How to Use OBS Studio: The User Interface</b></p>
              <p>The main OBS Studio interface allows you to set up everything you need to start streaming or recording. At the bottom of the screen, you’ll see several control elements.</p>
              <p><b>Scenes</b></p>
              <p>A Scene in OBS Studio allows you to collect and arrange certain Source elements in a specific way. You can have multiple scenes and switch between them at will.</p>
              <p>This will make a bit more sense as we move on. For now, you can click the Plus button to create a new scene. Call it Default or something similar (you can change it later).</p>
              <p>After you’ve added some elements, you can click on them in the preview to adjust as you wish. Click the Eye icon to hide an element, or the Lock to prevent accidental movement.</p>
              <p><b>Sources</b></p>
              <p>Sources are the video and audio inputs that you feed into OBS Studio. Click the Plus button to add a new one, and you’ll see several categories. The most important ones include:</p>
              <p>i. Audio Input Capture: Record sound from a microphone or similar. (See the best microphones for podcasting if you need one.)</p>
              <p>ii. Audio Output Capture: Capture the sound coming out of your computer, so that your recording/stream includes game or desktop audio.</p>
              <p>iii. Display Capture: Allows you to capture an entire monitor, no matter what’s showing on it.</p>
              <p>iv. Game Capture: Choose a specific game to record.</p>
              <p>v. Image: Display a static image.</p>
              <p>vi. Video Capture Device: Records footage from a webcam or similar. (We’ve listed the best budget webcams if you don’t have one already.)</p>
              <p>vii. Window Capture: Record a specific program window. This is like Game Capture, but works for any program.</p>
              <p>Once you select an option, you can choose Create new or Add Existing. Since you just started, you’ll need to add a new item that you can reuse later. After you click OK, OBS Studio displays options depending on the source you chose.</p>
              <p>As an example, click Audio Input Capture. Let’s say you’re going to use a headset microphone to record audio. Enter a descriptive name for the source (like Headset Mic) and click OK. On the resulting screen, pick your headset mic from the Device dropdown and click OK.</p>
              <p>Now, you have that input registered with OBS Studio and can easily add it again in the future. You’ll need to repeat this step to add your webcam, screen capture, and similar.</p>
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>
        </section>

        <!-- event section eight end here -->

        <!-- event section nine start here -->
        <div class="card smallscreen cardmargin margintop" style="width: 20rem;">
          <a href=""data-toggle="modal" data-target="#event9">
            <img class="card-img-top" src="/images/pix9.jpg" height="250px">
            <div class="card-body  ">
              <h4 class="card-title"><button type="button" class="btn btn-primary btn-sm">News Details</button></h4></a>
              <div>
                  <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
                  <span class="ml-2">Friday, 3 July 2020</span>
                </div>
                <div class="text-justify mt-2">
                    <h5><b>Zhiyun Smooth X Is the Best 2-Axis Gimbal Yet</b></h5>
                </div>
              <p class="card-text mode  space text-justify mt-3 mb-0">
            The latest smartphone cameras have reached the point where they can shoot some incredible 4K resolution 60FPS video given the right lighting conditions. Sadly, evolutionary upgrades to the shakey bags of flesh we use to hold those miniature cameras have not kept pace.</p>
            </div>
        </div>





<section>
<div class="modal fade bd-example-modal-lg" id="event9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg " role="document">
<div class="modal-content ">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle"></h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="pb-1">
    <img src="/images/pix9.jpg" width="100%" height="400" class="">
  </div>
  <div>
    <h4 class="">News Details</h4>
  </div>
    <div>
      <span class=" ml-3 mt-3 fa fa-calendar text-danger "></span>
      <span class="ml-2">Friday, 3 July 2020</span>
    </div>
    <div class="mt-3 space mode text-justify">
      <p>The latest smartphone cameras have reached the point where they can shoot some incredible 4K resolution 60FPS video given the right lighting conditions. Sadly, evolutionary upgrades to the shakey bags of flesh we use to hold those miniature cameras have not kept pace. That’s why everyone who is serious about taking videos on their smartphone needs a gimbal. The question is just which one to buy</p>
      <p>Smartphone gimbals aren’t a new concept by any means, but Zhiyun’s latest offering, the Smooth X, weighs less than 250g and folds up to a palm-sized package. Despite coming from a credible brand name in the world of gimbals, it costs just $59. That makes it one of the most budget-friendly gimbals on the market. But it good enough, or would you be better saving your pennies for something bigger?</p>
      <p>To really demonstrate the capabilities of this gimbal, the review video above was shot almost entirely using an iPhone X mounted on the gimbal. You’ll see a mixture of selfie-style videos from the front camera, as well as those shot on the rear camera. If you still need an excuse to watch, you’ll also see our cute pigs.</p>
      <p><b>Zhiyun Smooth X Features</b></p>
        <p>Inside the box you’ll find the palm-sized stabilizer and a USB-C charging cable. The Smooth X comes in white or dark gray and features an extendable 10-inch (26cm) selfie extension stick. In terms of hardware controls, you’ll find a four-way joystick, mode select, record, and zoom buttons.</p>
        <p>The Smooth X is a 2-axis stabilizer. Using an accelerometer and motors, it can stabilize the pan (left/right) and roll (rotational) axes, but not the yaw (or tilt). The angle of your smartphone can be manually adjusted, so you’re not stuck holding it upright.</p>
        <p>On the base of the Smooth X you’ll also find a standard 1/4-inch tripod attachment point.</p>
        <p>Battery life is around 4 of continuous use, or about a day for more typical usage scenarios. Sure enough, after an hour of filming around the garden, 25% of the battery had been depleted. In reality, battery life shouldn’t be an issue for most people: your phone will die from continuous video shooting long before the gimbal does. A full charge takes 45 minutes through the USB-C port.</p>
        <p><b>Using the Smooth X</b></p>
        <p>Before you can first use your gimbal, you’ll need to unfold it, which can be a little fiddly.</p>
        <p>First, spin the handle around so the controls are facing upwards. Next, extend the handle an inch or so, revealing the manually adjustable pivot point. Grab hold of the gimbal motor attached to this point, and flip the handle up slightly. Then keep holding the gimbal, grab the underside, and rotate the handle 180 degrees until it locks in place. You can now place your phone into the spring-loaded holder, and hold down the power button to activate the Smooth X.</p>
        <p>Utilizing Bluetooth, the Zhiyun Smooth X can control the native camera application of your phone (start/stop, zoom), or more features can be unlocked through the accompanying ZY Cami app.</p>
        <p>There are three basic modes for using the Smooth X:</p>
        <p>i. Pan-follow. This is the default when you turn on the device as it’s the most commonly used. The gimbal will follow and smooth out any panning (left-right) movements that you do. The roll axis however will be locked, maintaining the level you set (which can be adjusted using the joystick up/down).</p>
        <p>ii. Lock mode. Tap the mode button once to access lock mode. In this mode, the gimbal will maintain the current facing and level of the camera, with both the pan and roll axes canceling out your motions. This is typically useful for following alongside a subject.</p>
        <p>iii. Full-follow. Tap the mode button three times to enter full-follow, in which both roll and pan movements will be permitted (but smoothed out). This offers the most creative freedom, but most people will rarely want to use it.</p>
        <p>Object-tracking is also possible when using the ZY Cami app. Simply drag around the subject, and the gimbal will attempt to keep it in frame.</p>
        <p>In practice, I found the lack of yaw stabilization meant that vlog-style walking along and talking resulted in far too much vertical jitter in the video, which you can see in the review. Standing still this was obviously less of an issue, but there’s still only so much motion you can cancel out with two axes rather than three.</p>
        <p><b>ZY Cami and Quick Stories</b></p>
        <p>Requiring email registration and hardware activation, the ZY Cami app must be used if you want the additional gesture controls, object tracking, or finer camera adjustments than those offered by native camera apps. Object tracking worked well enough, though this is a fairly common feature among gimbal apps nowadays.</p>
        <p>The quick stories mode allows you to choose from a set of ready-made short film templates. Each is around 10-20 seconds length each and featuring an accompanying music track. The app will show you a quick preview video for each shot needed, and all you need to do is point toward the subject and hit record. The gimbal will automatically produce any motions required, panning or rotating the camera for you. The results are about as can be expected, and would make for some good Instagram posts. But I think you’ll get bored of them fairly quickly given the low number of templates currently available.</p>
        <p><b>Great for TikTok?</b></p>
        <p>One neat feature of the Smooth-X is the ability to spin your smartphone between vertical and horizontal filming. If you’re filming multiple shots in succession with the intention of publishing to both formats, this could be a significant timesaver, cutting down the effort needed to manually rotate and rebalance the mount.</p>
        <p><b>Should You Buy the Smooth X?</b></p>
        <p>Zhiyun has packed an incredible amount of features into a palm-sized budget $59 package. It’s lightweight, yet powerful enough to handle larger phones. It can fold up and fit in your pocket for ultimate portability. There’s no doubt this is one of the best 2-axis gimbals around. But the wider question is whether you sacrifice too much by losing that third axis.</p>
        <p>Modern smartphones have some degree of hardware stabilization built-in to the rear camera anyway. If you’re holding your smartphone with both hands and panning around the rear camera, you probably don’t need a gimbal. I did find the selfie extension very useful for getting ground-level intimate stabilized shots of our animals, but that’s not exactly a common scenario.</p>
        <p>Vloggers will find a lot of vertical jitter from the yaw axis if you try to walk around while filming on the front camera, which essentially limits the Smooth X to those who are mostly standing or sitting still. It’s probably better to think of the Smooth X as a really good selfie-stick, rather than a stabilizer for all smartphone filmmakers.</p>
        <p>For everyone else, I’d recommend saving up for a 3-axis gimbal instead, which will be twice the price (and won’t fit in the palm of your hand).</p>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</section>
</div>
</section>
<!-- event section nine end here -->
